<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="console"/>
        </Root>
<!--         Affiche les requêtes SQL de JdbcTemplate sans les paramètres -->
        <Logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"/>
        <Logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE"/>
       
<!--         <logger name="org.springframework.jdbc.core.JdbcTemplate"> -->
<!-- 		  <level value="TRACE"/> -->
<!-- 		</logger> -->
		
<!-- 		<logger name="org.springframework.jdbc.core.StatementCreatorUtils"> -->
<!-- 		  <level value="TRACE"/> -->
<!-- 		</logger> -->
    </Loggers>
</Configuration>
